html
{
    margin: 20px;
}
body
{
    background-color: #123;
    color: #eee;
    font-family: Monaco, "Lucida Console";
    font-size: 10px;
}

a,
a:visited
{
    color: #69c;
}

a:hover
{
    color: #9cf;
}

li
{
    list-style-type: none;
}

#dropZone
{
    border: 1px dashed #999;
    text-align: center;
    padding: 80px 0;
}

/*
#drop_result
{
    display: block;
}

#load_result
{
    display: block;
    color: #ffec00;
    margin-bottom: 20px;
}
    */

.chart-container
{
    margin: auto;
    max-height: 400px;
    margin-bottom: 40px;
}

.chart {
    text-align: left;
    width: 1280px;
    height: 600px;

}

#search th
{
    text-align: right;
}

/*
#search_count
{
    color: #ffec00;
    font-weight: normal;
    padding-right: 10px;
}
    */

table
{
    table-layout: fixed;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc
}

thead th
{
    cursor: s-resize;
}

th
{
    text-align: left;
}

tfoot
{
    /*display: none;*/
}

#logList td.qs
{
    overflow: hidden;
}

pre
{
    white-space: normal;
    color: #9cf;
    font-size: 11px;
    line-height: 16px;
}

p.credits
{
    text-align: center;
    color: #999;
}

/** Mine **/

.list-search
{
  /* TODO: do i need this - check html - naybw a div  */
}

.log-information-title
{
    color: #ffec00;
}

/* list - Sort Icon */

th.sort p {
  float: left;
}

.sort-icon {
      margin-left: 5px;
      padding-right: 20px;
      font-size: 12px;
      width: 8px;
      height: 8px;
      color: yellow;
      float: right;
    }
.sort-icon::before {
  content: "▲"; /* starting block */
  float: right;
}
.sort-icon::after {
  content: "▼"; /* starting block */
  float: right;
}
th.asc .sort-icon::before, /* Change colour for active */
th.desc .sort-icon::after {
  color: green;
}

/* list - Pagination */

.pagination-container {
  text-decoration: none;
  display: flex;            /* Makes list items align horizontally */
  justify-content: center;  /* Centers the entire pagination */
  align-items: center;      /* Vertically aligns the entire pagination */
}

.pagination-container a {
  text-decoration: none;
}

.prevnext-button {
  padding:5px;
}

ul.pagination {
  padding-inline-start: unset;
}

.pagination li {
  display:inline-block;
  padding:5px;
}

.pagination li.active a.page {
  color: red;
}

